# Files
.lock-waf_linux2_build
deteriorate-lv2.cbp
deteriorate-lv2.layout
debug_ingen.sh
debug_jalv.sh
deteriorate-lv2.config
deteriorate-lv2.creator
deteriorate-lv2.creator.user
deteriorate-lv2.files
deteriorate-lv2.includes


# Directory
.waf*
build
